.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.breadcrumbList {
  color: #616269;

  a {
    color: #331cbf;
  }

  &:not(:last-child)::after {
    content: '>';
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  .breadcrumbList {
    font-size: 14px;
  }
}
